/Citations/CLIP_prefix_caption/Model/
/Citations/vilio/input/
/Citations/vilio/data/hm_vgattr3636_MC_all.tsv
/Citations/vilio/data/hm_vgattr3636_SD_all.tsv
/Citations/CLIP_prefix_caption/data/
/Citations/minigpt4/eval_configs/prerained_minigpt4_7b.pth
/Citations/minigpt4/eval_configs/pretrained_minigpt4_llama2_7b.pth

/Data/Oxford_HIC/Generate_original/

/Data/Instagram/parse/
/Data/Instagram/Generate_mcdonalds.csv
/Data/Instagram/Generate_mcdonalds_switzerland.csv
/Data/Instagram/Generate_mcdonaldscanada.csv
/Data/Instagram/Generate_sonicdrivein.csv
/Data/Instagram/Generate_wendys.csv
/Data/Instagram/Generated_parrot_mcdonalds_switzerland.csv
/Data/Instagram/Generated_parrot_sonicdrivein.csv
/Data/Instagram/Minigpt4_generate_Oxford.csv
/Data/Instagram/Minigpt4_mcdonalds_switzerland.csv
/Data/Instagram/Minigpt4_mcdonalds_switzerland_emotion.csv
/Data/Instagram/Minigpt4_mcdonalds_switzerland_emotion_filter.csv
/Data/Instagram/Minigpt4_mcdonalds_switzerland_filter.csv
/Data/Instagram/Minigpt4_mcdonalds_switzerland_humor.csv
/Data/Instagram/Minigpt4_mcdonalds_switzerland_humor_filter.csv
/Data/Instagram/Minigpt4_mcdonalds_switzerland_sentiment.csv
/Data/Instagram/Minigpt4_mcdonalds_switzerland_sentiment_filter.csv
/Data/Instagram/Minigpt4_sentence_mcdonalds_switzerland.csv
/Data/Instagram/Minigpt4_sentence_mcdonalds_switzerland_bert.csv
/Data/Instagram/Minigpt4_sentence_sonicdrivein.csv
/Data/Instagram/Minigpt4_sentence_sonicdrivein_bert.csv
/Data/Instagram/Minigpt4_sonicdrivein.csv
/Data/Instagram/Minigpt4_sonicdrivein_emotion.csv
/Data/Instagram/Minigpt4_sonicdrivein_emotion_filter.csv
/Data/Instagram/Minigpt4_sonicdrivein_filter.csv
/Data/Instagram/Minigpt4_sonicdrivein_humor.csv
/Data/Instagram/Minigpt4_sonicdrivein_humor_filter.csv
/Data/Instagram/Minigpt4_sonicdrivein_sentiment.csv
/Data/Instagram/Minigpt4_sonicdrivein_sentiment_filter.csv
/Data/Instagram/Mix_parrot_bert_sonicdrivein.csv
/Data/Oxford_HIC/Generate_bert_oringinal/
/Data/Oxford_HIC/parse/
/Data/Oxford_HIC/CaptionID_oxford_hic_data.csv
/Data/Oxford_HIC/BlipAlt_oxford_hic_data.csv
/Data/Oxford_HIC/all_sentiment.csv
/Data/Oxford_HIC/all_humor.csv
/Data/Oxford_HIC/all_emotion.csv
/Data/Oxford_HIC/1500up_oxford_hic_data.csv
/Data/Oxford_HIC/1000up_oxford_hic_data.csv
/Data/Oxford_HIC/duplicate_CaptionID_oxford_hic_data.csv
/Data/Oxford_HIC/except1000up_oxford_hic_data.csv
/Data/Oxford_HIC/except1500up_oxford_hic_data.csv
/Data/Oxford_HIC/Filter_oxford_hic_data.csv
/Data/Oxford_HIC/Generate_bert_top1000_oxford_mix.csv
/Data/Oxford_HIC/Generate_bert_top1000_oxford_mix_only1.csv
/Data/Oxford_HIC/Generate_bert_top5000_oxford_mix_only1.csv
/Data/Oxford_HIC/Minigpt4_generate_Oxford.csv
/Data/Oxford_HIC/Minigpt4_Oxford.csv
/Data/Oxford_HIC/Minigpt4_Oxford_emotion.csv
/Data/Oxford_HIC/Minigpt4_Oxford_filter.csv
/Data/Oxford_HIC/Minigpt4_Oxford_emotion_filter.csv
/Data/Oxford_HIC/Minigpt4_Oxford_humor.csv
/Data/Oxford_HIC/Minigpt4_Oxford_humor_filter.csv
/Data/Oxford_HIC/Minigpt4_Oxford_sentiment.csv
/Data/Oxford_HIC/Minigpt4_Oxford_sentiment_filter.csv
/Data/Oxford_HIC/Minigpt4_sentence_generate_Oxford.csv
/Data/Oxford_HIC/Minigpt4_sentence_generate_Oxford_5368.csv
/Data/Oxford_HIC/Minigpt4_sentence_generate_Oxford_bert.csv
/Data/Oxford_HIC/Minigpt4_sentence_generate_Oxford_bert_6844.csv
/Data/Oxford_HIC/Minigpt4_sentence_generate_Oxford_bert_5368.csv
/Data/Oxford_HIC/Only5_simCOCO_oxford_hic_data.csv
/Data/Oxford_HIC/Only10_split_simCOCO_oxford_hic_data.csv
/Data/Oxford_HIC/Only100_oxford_hic_data.csv
/Data/Oxford_HIC/Only1200_oxford_hic_data.csv
/Data/Oxford_HIC/Only50_oxford_hic_data.csv
/Data/Oxford_HIC/oxford_hic_image_info.csv
/Data/Oxford_HIC/Top10_oxford_hic_data.csv
/Data/SFTTrainer/
/Data/Oxford_HIC/Generate_original/Generate_bert_top1000/

